<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description or tagline }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description or tagline }}">
    <meta property="og:type" content="profile">
    <meta name="twitter:card" content="summary">
    <link rel="stylesheet" href="css/site.css">
  </head>
  <body>
    <div class="profile">
      {{ content | safe }}
    </div>

    <footer>
      Like this page? {% if repo %}<a href="{{ repo }}">Fork me to create your own!</a>{% endif %}
    </footer>
  </body>
</html>
